@media screen and (max-width: 1068px) {
  nav img {
    width: 80px;
    margin-left: 10px;
    border-radius: 13px;
  }

  nav p {
    font-size: 24px;
    margin-right: 40px;
  }

  #inicio {
    height: 87.4vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
  }

  .fundo {
    backdrop-filter: blur(5px) contrast(65%);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fundo p {
    font-size: 35px;
    padding: 40px;
  }

  .fundo video {
    display: none;
  }

  #sobre {
    width: 100%;
    height: 100vh;
    background-position: center;
  }

  .fundo-sobre {
    backdrop-filter: blur(3.5px) contrast(60%);
    width: 100%;
    top: 85.8%;
    padding: 60px 0;
  }

  .textos {
    margin-top: 100px;
    font-size: 28px;
    text-align: center;
    margin: 100px 20px;
  }

  .texto1 {
    margin-left: 0;
    margin-right: 0;
  }

  .texto2 {
    margin-left: 0;
    margin-right: 0;
  }

  #serviços {
    height: 145vh;
  }

  .lista-serviços {
    flex-wrap: wrap;
    gap: 20px;
  }

  #trabalhos {
    width: 100%;
    height: 80vh;
    background-position: center;
  }

  .fundo-trabalhos {
    padding: 60px 15px;
    height: 63.8vh;
  }

  .container-imagens {
    margin-top: 30px;
    width: 100%;
    height: 53%;
  }

  #contato {
    margin-bottom: 100px;
  }

  #contato h3 {
    font-size: 40px;
    margin-left: 30px;
  }

  #contato p {
    margin-left: 33px;
  }

  .logos {
    margin: 40px 0 60px 0;
  }

}
